<div>
  <div>
    <div>
      <div>
        <form method="post" action="<%= sessions_path %>">
          <div>
            <label for="email">Email</label>
            <input id="email" type="email" name="email">
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
            <%= csrf_form_tags %>
            <input type="submit" value="Login">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
