
.test-items {
  .test-item {
    padding-bottom: 5px;

    span {
      margin-left: 3px;
    }

    .test-breed {
      margin-left: 10px;

    }

    .test-time {
      margin-right: 5px;
    }

    .test-code {
      margin-top: 2px;
      margin-right: 20px;
    }

    .test-toggle {
      padding-left: 4px;
      padding-bottom: 2px;
    }
  }

  .test-check-items {
    margin-top: 5px;
  }
}

