/**
 * tests#index
 */
.tests-index, .tests-show {
  .test-item, .test_run-item {
    padding-bottom: 5px;

    .test-top {
      padding: 5px 0;
      margin-bottom: 5px;
    }

    .test-title {
      font-size: 1.5em;
    }

    span {
      margin-left: 3px;
    }

    .test-breed, .test-every {
      color: #999;
    }

    .test-ago {
      color: #999;
      margin-left: 15px;
    }

    .test-code {
      margin-top: 2px;
      margin-right: 20px;
    }

    .test-time {
      margin-right: 5px;
    }

    .test-edit {
      margin-right: 5px;
      margin-left: 15px;
    }

    .test-toggle {
      padding-left: 4px;
      padding-bottom: 2px;
    }

    .test-info {
      margin-top: 5px;
    }
  }

  .test-check-items {
    margin-top: 5px;
  }
}

/**
 * tests#show
 */
