
.test-items {
  .test-item {
    span {
      margin-left: 3px;
    }

    .test-breed {
      margin-left: 10px;

    }

    .test-time {
      margin-right: 5px;
    }

    .test-code {
      margin-top: 2px;
      margin-right: 20px;
    }
  }

  .checks {
    margin-top: 5px;
  }

  .check-items {
    margin-top: 5px;
  }
}

