<%= render :partial => 'shared/top' %>

<div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3 class="title">API &amp; Browser Tests</h3>
    <div>
      <ul class="tests-index list-group">
        <% @tests.each do |test| %>
        <%= render :partial => 'shared/test', :locals => { :test => test, :action => 'index' } %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
