<%= render :partial => 'shared/top' %>

<div class="tests-show">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3 class="title">API Test</h3>
    <div>
      <%= render :partial => 'shared/list/test', :locals => { :test => @model } %>
    </div>
  </div>
</div>
